body {
    font-family: sans-serif;
    margin: 0;
    background-image: url(../imagenes/fondo.webp);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.donaciones h1 {
    margin-top: -65px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 90px;
    margin-bottom: 230px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #78CBCF;
    backdrop-filter: blur( 2px );
    border: 1px solid #ffffff2e;
    border-radius: 16px;
    padding: 32px 24px;
    width: 250px;
    box-shadow: 16px 18px 12px rgba(18, 18, 18, 0.04), 50px 60px 102px rgba(18, 18, 18, 0.1);
  }
  
  /*titulos formulario*/
  .title {
    font-weight: 700;
    text-align: center;
    font-size: 1.7rem;
  }
  
  /*Caja imputs*/
  .form-container {
    overflow: hidden;
    border-radius: 12px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .75rem;
    padding: 8px 15px;
  }
  
  /*Boton*/
  .form button {
    background-color: #00000066;
    color: #fff;
    border: 0;
    border-radius: 16px;
    padding: 10px 16px;
    font-size: .85rem;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    color: black;
  }

  .form a {
    text-align: center;
    color: #fff;
    font-weight: bold;
  }

  .form a:hover {
    color: black;
  }

  h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


@media (max-width: 810px) {
    header {
        height: 100%;
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    main {
        flex-direction: column;
        gap: 25px;
    }

    .donaciones h1 {
        margin-left: 25px;
        margin-right: 25px;
        text-align: center;
    }
    
    .redes {
        flex-direction: column;
    }
}


@media (max-width: 415px) {
    header {
        flex-direction: column;
    }

    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .redes img {
            flex-direction: column;
            height: 20px;
            display: flex;
        
    }

    .mapa iframe {
        width: 350px;
    }

    .pie {
        flex-direction: column;
        padding: 5px;
    }
}