.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.mapa iframe {
    border: 3px solid black;
    border-radius: 6%;
    width: 950px;
    height: 480px;
}

.columna {

    align-items: center;
    display: flex;
    justify-content: center;
}



@media (max-width: 700px) {
    header {
        height: 100%;
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    .presentacion {
        padding-left: 7%;
        padding-right: 7%;
    }

    
    .mapa iframe {
        height: 450px;
        width: 550px;
        
    }
    
    .redes {
        flex-direction: column;
    }
}


@media (max-width: 415px) {
    header {
        flex-direction: column;
    }

    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .redes img {
            flex-direction: column;
            height: 20px;
            display: flex;
        
    }

    .mapa iframe {
        width: 350px;
    }

    .pie {
        flex-direction: column;
        padding: 5px;
    }
}

@media (min-width: 1125px) {
    .presentacion {
        margin-right: 25%;
        margin-left: 25%;
    }
}