body {
  font-family: sans-serif;
  margin: 0;
  background-image: url(../imagenes/fondo.webp);
}


header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  background-color: #7ED9C3;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid black;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-size: 20px;
  transition: 0.5s ease;
}

.actual {
  text-decoration-line:underline overline;
  transition: 0.5s ease;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 70px;
  align-items: center;
  padding: 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: 50px;
  background-color: #fff;
}

.autor {
  font-size: 12px;
  font-weight: bold;
}

footer img {
  border-radius: 20%;
  height: 50px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-right: 10px;
}

.redes {
  display: flex;
  justify-content: space-between;
}

.redes img {
  height: 50px;
  display: flex;

}

.redes a {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  border-radius: 20%;
  height: 80px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  gap: 4px;
}

.descripcion {
  margin-top: 120px;
  width: 300px;
  height: 100%;
  border: 4px solid #7cdacc;
  background: #2cb5a0;
  color: #fff;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
}
 
.descripcion h4 {
  text-align: center;
}

.descripcion p {
  margin: 10px 10px 10px 10px;
}

.rese {
  margin-top: 98px;
}


.botones {
  display: flex;
  margin-left: 13px;
  margin-top: 10px;
  gap: 10px;
}

.botones button {
  background-color: #00000066;
  color: #fff;
  border: 0;
  border-radius: 16px;
  padding: 10px 16px;
  font-size: .85rem;
  cursor: pointer;
  transition: background-color .3s ease;
}

.botones button:hover {
  color: black;
}

.perfil {
  padding-top: 120px;
  padding-left: 80px;
}

.card-client {
  background: #2cb5a0;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;

}

.c-foto {
  width: 205spx;
  height: 250px;
  background: #CCC;
  overflow: hidden;
  border: 4px solid #7cdacc;
}

.c-foto img {
  width: 100%;
  height: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #7cdacc;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}



.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 600px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem .5rem;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.slide-1 {
  background-color: #fdc;
}

.slide-2 {
  background-color: #bfd;
}

.slide-3 {
  background-color: #cdf;
}

.slide-4 {
  background-color: #dca;
}

.slide-5 {
  background-color: #ffc;
}


