body {
    font-family: sans-serif;
    margin: 0;
    background-image: url(../imagenes/fondo.webp);
}


header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #7ED9C3;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid black;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-size: 20px;
    transition: 0.5s ease;
}

.actual {
    text-decoration-line:underline overline;
    transition: 0.5s ease;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 50px;
    background-color: #fff;
}

.autor {
    font-size: 12px;
    font-weight: bold;
}

footer img {
    border-radius: 20%;
    height: 50px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-right: 10px;
}

.redes {
    display: flex;
    justify-content: space-between;
}

.redes img {
    height: 50px;
    display: flex;

}

.redes a {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 20%;
    height: 80px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #78CBCF;
    backdrop-filter: blur( 2px );
    border: 1px solid #ffffff2e;
    border-radius: 16px;
    padding: 32px 24px;
    width: 250px;
    box-shadow: 16px 18px 12px rgba(18, 18, 18, 0.04), 50px 60px 102px rgba(18, 18, 18, 0.1);
  }
  
  /*titulos formulario*/
  .title {
    font-weight: 700;
    text-align: center;
    font-size: 1.7rem;
  }
  
  /*Caja imputs*/
  .form-container {
    overflow: hidden;
    border-radius: 12px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .75rem;
    padding: 8px 15px;
  }
  
  /*Boton*/
  .form button {
    background-color: #00000066;
    color: #fff;
    border: 0;
    border-radius: 16px;
    padding: 10px 16px;
    font-size: .85rem;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    color: black;
  }

  .form a {
    text-align: center;
    color: #fff;
    font-weight: bold;
  }

  .form a:hover {
    color: black;
  }


  @media (max-width: 700px) {
    header {
        height: 100%;
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
    
    .formulario {
        margin-left: 10px;
        margin-right: 10px;
        
    }
    
    .redes {
        flex-direction: column;
    }
}


@media (max-width: 700px) {
    header {
        height: 100%;
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    .presentacion {
        padding-left: 7%;
        padding-right: 7%;
    }

    
    .mapa iframe {
        height: 450px;
        width: 550px;
        
    }
    
    .redes {
        flex-direction: column;
    }
}


@media (max-width: 415px) {
    header {
        flex-direction: column;
    }

    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .redes img {
            flex-direction: column;
            height: 20px;
            display: flex;
        
    }

    .mapa iframe {
        width: 350px;
    }

    .pie {
        flex-direction: column;
        padding: 5px;
    }
}

.formulario {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 90px;
    margin-bottom: 230px;
}