body {
    font-family: sans-serif;
    margin: 0;
    background-image: url(../imagenes/fondo.webp);
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #7ED9C3;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 50px;
    background-color: #fff;
}

.autor {
    font-size: 12px;
    font-weight: bold;
}

footer img {
    border-radius: 20%;
    height: 50px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-right: 10px;
}

.redes {
    display: flex;
    justify-content: space-between;
}

.redes img {
    height: 50px;
    display: flex;

}

.redes a {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 20%;
    height: 80px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-size: 20px;
    transition: 0.5s ease;
}

.actual {
    text-decoration-line:underline overline;
    transition: 0.5s ease;
}

@media (max-width: 700px) {
    header {
        height: 100%;
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    .presentacion {
        padding-left: 7%;
        padding-right: 7%;
    }

    
    .mapa iframe {
        height: 450px;
        width: 550px;
        
    }
    
    .redes {
        flex-direction: column;
    }
}


@media (max-width: 415px) {
    header {
        flex-direction: column;
    }

    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .redes img {
            flex-direction: column;
            height: 20px;
            display: flex;
        
    }

    .mapa iframe {
        width: 350px;
    }

    .pie {
        flex-direction: column;
        padding: 5px;
    }
}